# Problema

**Tratar dados 'tempo.csv'**

```
Aparência: sol, nublado, chuva
Temperatura: -130~130F
Umidade: 0~100
Jogar: sim/não
Tratar valores NAs
```

In [ ]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [ ]:
#importar dados
dataset = pd.read_csv("sample_data/tempo.csv", sep=";")
#visulizar
dataset.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [ ]:
dataset.shape

(14, 5)

In [ ]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [ ]:
dataset['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [ ]:
mediana = sts.median(dataset['Umidade'])
mediana

85.5

In [ ]:
dataset['Umidade'].fillna(mediana, inplace=True)

In [ ]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [ ]:
dataset.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0  VERDADEIRO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0  VERDADEIRO   sim
3      chuva           70     85.5       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0  VERDADEIRO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0  VERDADEIRO   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0  VERDADEIRO   sim
13     chuva           71     91.0  VERDADEIRO   nao

Temperatura deve estar entre -130F e 130F

In [ ]:
dataset.loc[(dataset['Temperatura'] < -130 )  | ( dataset['Temperatura'] > 130) ]

  Aparencia  Temperatura  Umidade       Vento Jogar
7       sol         1220     95.0  VERDADEIRO   nao

In [ ]:
mediana_temp = sts.median(dataset['Temperatura'])
#mediana_temp
dataset.loc[(dataset['Temperatura'] < -130 )  | ( dataset['Temperatura'] > 130), 'Temperatura' ] = mediana_temp

In [ ]:
dataset.loc[(dataset['Temperatura'] < -130 )  | ( dataset['Temperatura'] > 130) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

Umidade deve estar entre 0~100

In [ ]:
dataset.loc[(dataset['Umidade'] < 0 )  | ( dataset['Umidade'] > 100) ]

  Aparencia  Temperatura  Umidade       Vento Jogar
9     chuva         75.0    200.0  VERDADEIRO   sim

In [ ]:
mediana_umi = sts.median(dataset['Umidade'])
#mediana_umi
dataset.loc[(dataset['Umidade'] < 0 )  | ( dataset['Umidade'] > 100), 'Umidade' ] = mediana_umi

In [ ]:
dataset.loc[(dataset['Umidade'] < 0 )  | ( dataset['Umidade'] > 100) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

Jogar deve conter apenas sim/não

In [ ]:
agrupado = dataset.groupby(['Jogar']).size()

In [ ]:
agrupador = dataset['Jogar'].isnull().sum()
agrupador

0

Aparência sol, chuva e nublado

In [ ]:
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [ ]:
dataset.loc[dataset['Aparencia'] ==  'menos', 'Aparencia'] = "chuva"
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64